<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="text/html" charset="utf-8" http-equiv="content-type"/>
<title>用户注册</title>
<link rel="stylesheet" href="resource/css/common/bootstrap.min.css" type="text/css"></link>
<style type="text/css">
.error{
	color:red;
}
</style>
</head>
<body>
<div class="container">
<form class="regform" id="registerform" name="form" action="/register" method="post">
	<fieldset>
		<legend>注册信息填写</legend>
		<p>
			<label for="userName">用户名：</label>
			<input id="userName" name="userName" type ="text"/>
		</p>
		<p>
			<label for="passWord">密 码：</label>
			<input id="passWord" type="password" name="passWord"/>
		</p>
		<p>
			<label for="confirm_passWord">确认密码：</label>
			<input id="confirm_passWord" type="password" name="confirm_passWord"/>
		</p>
		<p>
			<label for="phoneNum">手机号码：</label>
			<input id="phoneNum" type="text" name="phoneNum"/>
		</p>
		<p>
			<input class="submit" type="submit" value="提交"/>
		</p>
		<p>
			<input id="reset" type="button" onclick="formReset()" value="重置" />
		</p>
	</fieldset>	
</form>
<div>

<script type="text/javascript" src="resource/js/common/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="resource/js/common/jquery.validate.min.js"></script>
<script type="text/javascript" src="resource/js/common/jquery.messages_zh.js"></script>
<script type="text/javascript" src="resource/js/common/bootstrap.min.js"></script>
<script type="text/javascript">
function formReset(){
	document.getElementById("registerform").reset();
}
	$().ready(function(){
		//自定义验证用户名方法
		$.validator.addMethod("userNameCheck",function(value, element){
				var pattern = /^[A-Za-z0-9][\S]*$/;
				return pattern.test(value);
			},"用户名只能以数字、字母开头");
	
		$("#registerform").validate({
			rules: {
				userName: {
					required: true,		
					userNameCheck: true,
					minlength: 6,
					maxlength: 20
				},
				passWord: {
					required: true,
					minlength: 6,
					maxlength: 20
				},
				confirm_passWord: {
					required: true,
					minlength: 6,
					maxlength: 20,
					equalTo: "#passWord"
				}
			},
		
			messages: {
				userName: {
					required: "请输入用户名",
					minlength: "请至少输入6位字符",
					maxlength: "至多输入20位字符"	
				},
				passWord: {
					required: "请输入密码",
					minlength: "请至少输入6位密码",
					maxlength: "至多输入20位字符"
				},
				confirm_passWord: {
					required: "请输入确认密码",
					minlength: "密码长度不一致",
					maxlength: "至多输入20位字符",
					equalTo: "两次输入密码不一致"
				}
			}
		});
	});
	
</script>
</body>
</html>